In [5]:
import pandas as pd

In [6]:
data = pd.read_excel("C:\\Users\\DELL\\Desktop\\Alexandria's Weather.xlsx")
data = data.dropna()

In [7]:
data

,Days Name,Days Date,"Highest Temperature\n[AM , PM , Night]","Lowest Temperature\n[AM , PM , Night]","Wind\n[AM , PM , Night]","Humidity\n[AM , PM , Night]",Sunrise,Sunset
1,Friday,3.0,"['18', '20', '18']","['17', '19', '16']","['5', '10', '10']","['49', '53', '70']",06:41:00,04:55:00
3,Saturday,4.0,"['18', '20', '19']","['15', '20', '17']","['10', '5', '15']","['66', '47', '40']",06:41:00,04:55:00
5,Sunday,5.0,"['16', '19', '19']","['15', '17', '19']","['35', '25', '10']","['61', '63', '64']",06:41:00,04:55:00
7,Monday,6.0,"['19', '21', '19']","['19', '20', '16']","['10', '5', '10']","['72', '66', '77']",06:43:00,04:55:00
9,Tuesday,7.0,"['19', '21', '19']","['16', '21', '13']","['15', '15', '30']","['54', '36', '40']",06:43:00,04:55:00
11,Wednesday,8.0,"['13', '16', '18']","['12', '16', '17']","['35', '35', '20']","['58', '65', '56']",06:45:00,04:57:00
13,Thursday,9.0,"['19', '19', '19']","['18', '19', '18']","['25', '15', '5']","['58', '62', '69']",06:45:00,04:57:00
15,Friday,10.0,"['18', '20', '18']","['17', '19', '16']","['5', '5', '5']","['69', '64', '76']",06:46:00,04:57:00
17,Saturday,11.0,"['18', '19', '19']","['16', '19', '18']","['5', '10', '5']","['71', '70', '76']",06:47:00,04:57:00
19,Sunday,12.0,"['19', '19', '18']","['18', '18', '17']","['10', '15', '10']","['70', '60', '57']",06:47:00,04:57:00
21,Monday,13.0,"['17', '19', '17']","['16', '18', '16']","['20', '15', '20']","['47', '50', '76']",06:48:00,04:58:00
23,Tuesday,14.0,"['19', '18', '18']","['17', '18', '17']","['30', '20', '20']","['60', '59', '64']",06:48:00,04:58:00

In [8]:
data.to_excel("Alexandria's Weahter.xlsx", sheet_name='Next 2 Weeks')